.widget-panel
{
  background-color: rgba(17, 40, 72);
  border: 1px solid rgba(255, 127, 0);
  border-radius: 5px;
}
.widget-panel h1
{
  font-family: 'Robot Mono', sans-serif;
  color: rgba(255, 127, 0);
  padding: 10px 10px 5px 10px;
  border-bottom: 1px solid rgba(255, 127, 0);
}

p
{
  color: white;
}